.timeline {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .range {
    position: absolute;
    height: 100%;
    cursor: pointer;
  }
  
  .range.noise {
    background-color: rgba(0, 0, 0, 0.5);
    border-left: solid 1px black;
    border-right: solid 1px black;
  }
  
  .range.silence {
    background-color: rgba(128, 128, 128, 0.5);
  }

  .marker {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: red;
    cursor: pointer;
  }
  
  .current-time-indicator {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: black;
  }

  .range-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    color: black;
    background-color: #e0e0e0;
  } 
  
  .range-details {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
  }

  .marker-item {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    color: white;
    padding: 10px;
    border-radius: 4px;
    background-color: #6b6868;
  }

  .markers-in-range {
    margin-top: 10px;
  }
  
  .markers-in-range h4 {
    margin: 0;
  }
  
  .markers-in-range div {
    margin-top: 5px;
  }